spring:
  datasource:
    url: jdbc:mysql://172.16.157.59:3306/vueblog?useSSL=false
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    mongodb:
      uri:  mongodb://172.16.157.59:27017/visitor
  # Redis 配置(默认配置)
  redis:
      # Redis 数据库索引（默认为0）
    database: 0
      # Redis 服务器地址
    host: 172.16.157.59
      # Redis 服务器端口
    port: 6379
      # Redis 服务器密码(默认为空)
    password:
    pool:
        # 连接池最大连接数（使用负值表示没有限制）
      max-active: 8
        # 连接池中的最大空闲连接
      max-idle: 8
        # 连接池中的最小空闲连接
      min-idle: 0
        # 连接池最大阻塞等待时间（使用负值表示没有限制）
      max-wait: -1
        # 设置连接超时
    timeout: 5000
  cache:
    type: redis
images:
  url: http://47.98.217.105:8081/blog/articles/img?filename=
  path: /usr/lib/jvm/images/